*{
    padding: 0px;
    margin :0px;
    box-sizing: border-box;
}
body{
    
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-left: 250px;
    position: relative;
    font-family:  Kaisei Tokumin, serif;
  
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px; 
    padding-left: 250px;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 1000;

}

ul{
    list-style: none;
    display: flex;;
    gap: 10px;
    padding: 30px 50px;
    margin-right: 170px;
    

}
.hm{
    border-bottom: solid #01B5FF;
    padding-bottom: 4px;
}
.nav-links li a{
    text-decoration: none;
    color: wheat;
    font-weight: bold;  
    margin-right: 70px;
}

.nav-links li a:hover{
    color: #01B5FF;
 
}




.head{
    color: #01B5FF;
    font-family: Kaisei Tokumin, serif;
    font-size:24px
}
.intro-container{
 
    display: flex;
    height: 746px;
    align-items: center;
}
.image-container{
   width: 688px;
   height: 848px;
   background-image: url('./images/freddy\ prof.png');
   background-position: cover;
   background-repeat: no-repeat;
   position: absolute;
   top: -6px;
   right: -10px;
   border-bottom-left-radius: 40px;
   z-index: -1

}

.carr{
    background-color:#01B5FF;
    width: 80px;
    height: 150px;
    position: absolute;
    top: 880px;
    left: 730px;
}
.carr-0{
    border:solid #01B5FF 7px;
    width: 70px;
    height: 70px;
    position: relative;
    bottom: -120px;
    left: -30px;
    border-radius: 50%;
    z-index: 100;
}
.intro-description{
    display: flex;
    align-items: center;
}

.description{
    width: 320px;
    padding: 20px 0px;
    color: #657D80;
    font-size: 18px;
}
.intro{
    background-color: #01B5FF;
    text-align: center;
    padding: 15px 10px;
    margin-bottom: 40px;
    border-radius: 10px;
    font-family:  Kaisei Tokumin, serif;
    font-weight:bold;
}
.name{
    font-size: 32px;
    font-weight: bold;
    padding: 7px 0px;

}
.full{
    padding-bottom: 30px;
    font-size: medium;
    font-weight: normal;
}
.bij{
    color: #01B5FF;
}
.btn{
    background-color: #01B5FF;
    border: none;
    padding: 10px ;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border-radius: 5px;
}
.About{
    position: relative;
    display: flex;
    margin: 90px 0px;
  
}
img{
    height: 100%;
    width: 100%;
}
.img-cont{
    width: 100%;
    height: 300px;
   
}
.left-abt{
  margin: 0px 40px;
}
.me{
    background-color: #01B5FF;
    width: 150px;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 10px ;
    border-radius: 10px;
}
.Why{
padding:20px 0px;

}
.intro-about{
    font-size: 18px;
    color:#657D80;
    padding-bottom: 15px;
}
.btn-dwn{
background-color: #01B5FF;
border: none;
border-radius: 9px;
padding:10px 9px
}
.serv{
    font-size: 20px;
    font-weight: bold;
}
.cont-serv{
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.design{
    background-color: white;
    border: solid gray 0.5px;
    padding: 15px;
    width: 269px;
    height: 308px;
}
.web{
    width: 60px;
    height: 60px;
    border: solid #01B5FF ;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}
h2{
 
    padding: 20px 0px;
}

p{
    padding: 10px 0px;
}

button{
    background-color:none; 
    border: solid ;
    margin: 10px 0px ;
    padding: 8px 8px;
}

.Select{
    background-color: black;
    color:white;
    border:none
}
.pre {
    text-align: center;
}
.par{
    font-size: 24px;
}
.design-2{
    background-color: white;
    width: 308px;
    padding: 20px;
    border-radius: 10px;
}
.price{
    text-align: center;
}
.price-1{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #01B5FF;
    text-align: center;
}
.co-pri{
    display: flex;
    justify-content: center;
    color: white;
}
.Stand{
    border: none;
    background: #01B5FF;
    color: white;
    font-weight: bold;
}
.arrow{
    width: 40px;
    height: 40px;
    background-color: #01B5FF;
    padding: 10px ;
    border-radius: 50%;
}

.quote{
    width: 40px;
    height: 40px;  
   
}

.img-0{
   display: flex;
   justify-content: center;
}
.cont-testimonio{
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
}

.test{
    background-color: #01B5FF;
    text-align: center;
    padding: 10px 5px;
    border-radius: 8px;
    font-size: 24px;
    margin-bottom: 10px;
}
.descript{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
.t-par{
    font-weight: bold;
}
.content{
    background-color: white;
    padding: 15px 0px;
    text-align: center;
}
.par-cont{
   font-size: 20px;
    width: 60%;
    margin: auto;

}
.all-cont{
    width: 436px;
    background-color: #D9D5D5;
}

.bio{
    text-align: center;
    text-transform: uppercase;
}

.par{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px 0px;
}
.team{
    width: 100%;
    height: 305px;
 
  
   
}

.alt{
   border-bottom-right-radius: 15px;
}

.share{
    width: 20px;
    height: 20px;
}

.learn-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.learn{
    color: #01B5FF;
}
.var{
    padding: 0px 40px;
}
.cont-me{
    background-color: #01B5FF;
    text-align: center;
    padding: 10px 6px;
    border-radius: 8px;
}

.send{
    text-align: center;
    font-weight: bold;
}
.contact{
    display: flex;
    justify-content: center;
}

.last-sec{
    padding: 60px 0px;
}
form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.one{
    display: flex;
    gap: 15px;
}
.input{
    width: 100%;
    height: 65px;
    padding: 0px 10px;
    margin: 7px 0px;
    border: solid 0.5;
    background-color: none;
    outline: none;
    border-radius: 5px;
    
}
.two{
    display: flex;
    gap: 15px;
}
textarea{
    height: 150px;
     padding: 0px 10px;
    margin: 7px 0px;
}
.send-btn{
    display: flex;
    justify-content: center;
    border: none;

}
.contact-form{
    padding-top: 40px;
}
.sent{
    background-color: #01B5FF;
    border: none;
    padding: 15px 18px;
    color: white;
    font-weight: bolder;
    font-size: 24px;
    border-radius: 8px;
}
.sub{
      text-align: center;
   
}
.sub-1{
    text-align: center;
}
.arr-mg{
    width: 30px;
    height: 30px;
}
.sub-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.input-form{
    width: 650px;
    height: 40px;
    margin: 20px 0px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0px 10px;
}

.arr{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01B5FF;
    width: 40px;
    height: 40px;
     border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-right: 160px;
    border-top: solid  gray;
    padding: 14px 0px;
    margin-top: 60px;
}
.fb{
    color: #01B5FF;
}
